#highlighted {
    position: relative;
    background-color: #dc143c;
  }
  
  .panel-group {
    margin-bottom: 0;
    background-color: #fff;
  }
  label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: 700px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 27px;
  }
  .btn-primary {
    color: #fff;
    background-color: #dc143c;
    border-color: #ea3e10;
    width: 100%;
  }
  .content-area-right {
    margin-top: 10px;
  }