<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Change password</title>
</head>
<body>
    <form action="signup" style="border:1px solid #ccc">

      <div>
        <!-- <h1>Change Password</h1>   -->
      </div>
        <div class="container">
            <table>
                <h1>Change Password</h1>  
                <hr>
                  <tr> 
                    <td>
                        <label for="email"><b>Email</b></label>
                    </td>
                    <td>
                      
                      <input type="email" name="" id="input" class="form-control" value="" required="required" title="" placeholder="Enter Email">
                    </td>
                  </tr>
                  <tr> 
                    <td>
                        <label for="Old Password"><b>Old Password</b></label>
                    </td>
                    <td>
                      
                      <input type="password" name="" id="input" class="form-control" required="required" title="" placeholder="Enter Password" placeholder="Enter Old Password">
                    
                    </td>
                  </tr>
                  <tr> 
                    <td>
                        <label for="New Password"><b>New Password</b></label>
                    </td>
                    <td>                
                      <input type="password" name="" id="input" class="form-control" required="required" title="" placeholder="Enter New Password">
                    </td>
                  </tr>
                  <tr> 
                    <td>
                        <label for="Confirm password"><b>Confirm Password</b></label>
                    </td>
                    <td>
                      <input type="password" name="" id="input" class="form-control" required="required" title="" placeholder="Enter Confirm Password">
                    </td>
                  </tr>            
                        <!-- <button type="button" class="btn btn-primary">Change</button> -->
                        
                        <button type="button" class="btn btn-lg btn-danger" [routerLink] ="['/Login']">Change</button> &nbsp;&nbsp;
                        
                        <button type="button" class="btn btn-lg btn-warning">Reset</button>
                        
                        
                                  
                        <!-- <button type="button" class="btn btn-success">Reset</button>     -->
            </table>
        </div>
    </form>
</body>
</html>

