<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Log History</title>
</head>
<body>
    <table class="table">
  <thead class="thead-dark">
    <tr>
    
      <th scope="col">Id</th>
      <th scope="col">Date</th>
      <th scope="col">Old Password</th>
      <th scope="col">New Password</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      
    </tr>
   
  </tbody>
</table>


</body>
</html>
