<div class="a"><div class="div1">
  <div class="login-box">
  
    <h1 style="font-size: 35px;">CONTACT US FORM</h1>
    
    <form>
        <p style="font-size: 25px">Name:</p>
          <input type="text"  name="name" placeholder="Enter name" id="txt1">	
          <span id="spn" style="color:red"></span>	
      
          <p style="font-size: 25px">Email:</p>
          <input type="email"  name="email" placeholder="Enter Email" id="email">
          <span id="spn1" style="color:red"></span>
  
        <p style="font-size: 25px">Phone:</p>

           <input type="phone" name="mob_digits" placeholder="84********" maxlength="10">
          
        <p style="font-size: 25px">Subject:</p>
        <input type="text"  name="subject" placeholder="Enter Subject" id="txt2">	
        <span id="spn" style="color:red"></span>	
  
        <p style="font-size: 25px;">Message:</p><br>
        <textarea cols="35" rows="3" style="background-color: black;font-size: 25px" placeholder="Enter Message"></textarea>	
        <span id="spn" style="color:red"></span>	
  <br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  
        <input type="button" name="submit" value="Submit" style="width: 150px" > &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="button" name="reset" value="Reset Form" style="width: 180px"> 
    <br><br>
  
    </form>
  </div>
  </div>
  </div>
  